
.error {
    color: red;
    font-weight: bold;
}

body {
    text-align: center;
    font-family: "Droid Sans";
    align-items: center;
    position: center;
    justify-content: center;
    color: darkgreen;

}

.registrace {
    margin: auto;
    border-width: 3px;
    border-color: darkslategrey;
    border-style: solid;
    max-width: 500px;
    background-color: blanchedalmond;
    position: center;

}

.formular {
    max-width: 500px;
    position: center;
    text-align: left;
    margin-top: 2px;
    margin-left: 2px;


}

.comment {
    color: darkcyan;
    font-size: small;
}

.sport {
    table-layout: auto;
    text-align: left;
    position: center;
    top: 0;
}

.button {
    position: center;
    margin: 5px;
    align-items: center;
    alignment: center;

}

.selectedSports {
    list-style: none;
    margin-left: unset;
}