
.error {
    color: red;
    font-weight: bold;
}

body {
    text-align: center;
    font-family: "Droid Sans";
}
h1 {
    text-align: center;
    font-family: "Droid Sans";
}
h2 {
    position: center;
    font-family: "Droid Sans";
}
.registrace{
    border-width: 3px;
    border-color: darkslategrey;
    border-style: solid;
    max-width: 500px;
    background-color: blanchedalmond;

}
.formular{
    max-width: 500px;
    position: center;
    text-align: left;
    margin-top: 2px;
    object-position: center;


}
.comment {
    color: blue;
    font-size: small;
}

.sport{
    table-layout: auto;
    text-align: left;
    position: center;
}

.button{
    position:center;
    margin: 5px;
    align-items: center;
    alignment: center;
}